@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --color-p1: #730a26;
  --color-p2: #1d2659;
  --color-s1: #7193d9;
  --color-s2: #20448c;
  --color-s3: #bf0b1a;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #777;
  --color-gray2: #bbb;
  --color-gray3: #9ca4ab;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", verdana, serif, arial;
  background-color: var(--color-black);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Cinzel", verdana, serif, arial;
  margin-bottom: 0;
}
main {
  background-color: var(--color-p2);
  padding: 0 32px;
}
main > .content {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 64px;
}
main > .content > h1 {
  display: inline-block;
  margin-top: 32px;
  color: var(--color-white);
}
/*HEADER*/
header {
  display: inline-block;
  width: 100%;
  height: 62px;
  margin: 0;
  background-color: var(--color-p1);
  -webkit-box-shadow: 0px 10px 23px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 23px -11px rgba(0, 0, 0, 0.75);
}
#header-bar {
  width: 100%;
  max-width: 1000px;
  height: 62px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
#header-bar-logo {
  width: 174px;
  margin: 16px;
  height: 30px;
  line-height: 30px;
  color: var(--color-white);
  font-family: "Cinzel", verdana, serif, arial;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  text-decoration: none;
}
#header nav {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 14px;
  height: 30px;
  margin: 16px 16px 0 0;
}
#header nav a {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  color: var(--color-white);
  border-bottom: solid 2px var(--color-p1);
}
#header nav a:hover {
  border-bottom: solid 2px var(--color-s1);
}
#header nav a.selected {
  border-bottom: solid 2px var(--color-white);
}
#hamburguer-menu {
  display: none;
}
#hamburguer-close-button {
  display: none;
}

/*FOOTER*/
#footer-information {
  text-align: center;
  color: var(--color-white);
  padding: 32px 0;
}
#footer-information p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/*CONFIGS PAGE*/
.form-confi {
  padding: 16px;
  color: var(--color-white);
}
.form-confi fieldset {
  border-radius: 4px;
  margin-bottom: 8px;
  border: solid 1px var(--color-gray);
  display: inline-block;
  padding: 8px 16px;
}
.form-confi fieldset label {
  font-size: 14px;
}
.form-confi fieldset label select {
  width: 100%;
  padding: 8px 0;
  border: none;
  background: none;
  color: var(--color-white);
  font-size: 16px;
  outline: none;
}
.form-confi fieldset label select option {
  background: var(--color-p2);
}
.form-confi h1 {
  margin-bottom: 32px;
}

/*MOVIE CARD*/
#cardsMovies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-content: space-between;
  gap: 16px;
  color: var(--color-white);
}
.movieCard {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  padding-bottom: 16px;
  border-radius: 8px;
  background-color: var(--color-p1);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: var(--color-white);
  text-decoration: none;
}
.movieCard:hover {
  -webkit-box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 23px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.15);
  z-index: 2;
}
.movieCard .poster {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}
.movieCard .title {
  font-size: 14px;
  margin: 8px 0 4px 0;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  text-align: center;
}
.movieCard .release {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 12px;
  color: var(--color-gray2);
  text-align: right;
  padding-right: 16px;
}
.movieCard .vote {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 12px;
  color: var(--color-gray2);
  padding-left: 16px;
}
.movieCard .release i {
  margin-left: 8px;
}

/*HOME*/
main .content #page-information {
  margin-top: -8px;
  color: var(--color-gray2);
}

/*PDP*/
#movieData {
  color: var(--color-white);
}
#image-background {
  width: 100%;
}
#small-data {
  display: flex;
  gap: 16px;
}
#small-data span {
  font-size: 14px;
}

#production-companies {
  display: flex;
  width: 100%;
  gap: 8px;
}
#production-companies .company {
  background-color: var(--color-p1);
  display: inline-block;
  height: auto;
  font-size: 14px;
  color: var(--color-white);
  border-radius: 4px;
}
#production-companies .company img {
  width: calc(100% - 16px);
  margin: 8px;
  display: none;
}
#production-companies .company label {
  display: inline-block;
  padding: 4px 16px;
}
#small-data #votes {
  border-right: solid 1px var(--color-white);
  padding-right: 16px;
}
#tag-line {
  margin: 0 0 32px 0;
}

/*CAST IN PDP*/
#title-top-cast {
  margin: 36px 0 16px 0;
}
#cast-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  justify-content: space-between;
  gap: 16px;
  color: var(--color-white);
}
#cast-list .cast {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: 30px auto;
  column-gap: 8px;
}
#cast-list .cast img {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-radius: 8px;
  object-fit: cover;
  object-position: 0px 0px;
  height: 80px;
  background-color: var(--color-black);
}
#cast-list .cast .castName {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: var(--color-white);
  line-height: 30px;
  font-size: 16px;

  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cast-list .cast .castCharacter {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  color: var(--color-gray3);
  font-size: 14px;
}

/*SEARCH HEADER*/
.header-search-bar {
  background-color: var(--color-white);
  height: 32px;
  margin-top: 14px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 32px;
}
.header-search-bar #header-search-bar-button {
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  color: var(--color-p1);
}
.header-search-bar #header-search-bar-input {
  padding: 8px 0 8px 16px;
  border: none;
  background: none;
  font-size: 14px;
}
.header-search-bar #header-search-bar-input:focus {
  outline: none;
}

/*STREAMING PLATFORMS*/
#title-streaming-platforms {
  margin: 36px 0 16px 0;
}
